<ul class="component__notes-list">
<% for(var i = 0; i < data.length; i++) {%>
    <li>
        <a href="/notebooks/<%= data[i].notebookId %>/notes/<%= data[i]._id %>" >
            <span><%= data[i].title %></span>
            <span><%= data[i].created %></span>
            <span><%= data[i].updated %></span>
        </a>
    </li>
<% } %>
</ul>
<input class="component__notes-plusOne" type="button" value="+" >